<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url  'user:reset' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username_or_email" id="">
        Sai user_name vui lòng nhập lại
        <input type="submit" value="Tiếp theo">
    </form>
</body>
</html>
-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    {% load static %}
<head>
	<title>Reset Password Wrong</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login_.css' %}">
</head>
<body>
<body>
    <div class"reset_pass_wrong">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body" style="text-align:center;margin-top:50px;">
                    <form action="{% url  'user:reset' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="username_or_email" id="" style="height:40px;width:250px;color:white;">
                        Sai user_name vui lòng nhập lại
                        <input type="submit" value="Tiếp theo" style="background-color:#FFC312; height:40px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
