<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url  'user:reset' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username_or_email" id="">
        Sai user_name vui lòng nhập lại
        <input type="submit" value="Tiếp theo">
    </form>
</body>
</html>