.container{
    width: 80%;
    display: flex;
    margin: auto;
  }
  
  .see-more{
    text-decoration: none;
    color: brown;
  }
  .box-news{
    width: 70%;
    margin: auto;
  }
  .box-news :hover{
    color: rgb(17, 100, 100);
  }
  .big-box{
    display: inline-block;
    justify-content: space-between;
    margin: 10px;
    
  }
  
  .big-box img {
    width: 100% ;
    display: inline;
    transition-duration: 0.5s;
  }
  
  .big-box img:hover {
    transform: scale(1.03);
  }
  .big-box p {
    margin-top: 0px;
  }
  .big-box h2{
    margin-bottom: 0px;
  }
  
  
  .small-boxs{
    display: flex;
    justify-content: space-between;
  }
  .small-boxs :hover{
    color: rgb(17, 100, 100);
  }
  
  
  .content{
    width: 33.3%;
    margin: 10px;
  }
  .content img{
    width: 100%;
    transition-duration: 0.5s;
  }
  .content img:hover {
    transform: scale(1.03);
  }
  .content p {
    margin-top: 0px;
  }
  .content h2{
    margin-bottom: 0px;
  }
  
  .right-side{
    margin: 10px;
    width: 30%;
    display: block;  
  
  }
  .right-side img{
    width: 100%;
    border: 5px ;
  }
  
  .des p {
  
  }