{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'checkout/styles/checkout.css' %}">
{%endblock%}
{% block content %}
    <div class="box">
        <div class="col-sm-12 empty-cart-cls text-center">
            <img src="https://i.imgur.com/dCdflKN.png" width="250" height="250" class="img-fluid mb-4 mr-3">
            <h3><strong>Hiện tại không có sản phẩm trong giỏ hàng</strong></h3>
            <a target="_blank" href="http://127.0.0.1:8000/menu" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Back to menu</a>
        </div>
    </div>
    
{% endblock %}
