<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/logo/admin.ico' %}">
    <title>Admin Dashboard Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'dashboard/css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dashboard/css/lib/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/lib/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'dashboard/js/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/chartist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/chartist/chartist-init.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b><img src="{% static 'dashboard/logo/admin.ico' %}" alt="homepage" style="height: 40px; width:auto" /></b>
                        <!-- <span><img src="{% static 'dashboard/images/logo-text.png' %}" alt="homepage"
                        class="dark-logo" /></span> -->
                        <span>Báo cáo</span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- End Comment -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{user_avatar}}" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-light btn-block"> <i class="fa fa-power-off"></i> Log
                                            out</button>
                                    </form>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" style="margin: auto">{{user_name}}</li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Bảng điều khiển <span class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'admin-dashboard:main' %}">Tổng quan </a></li>
                                <li><a href="{% url 'admin-dashboard:analytics' %}">Bảng Phân tích </a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Bảng điều khiển</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">Home</a></li>
                        <li class="breadcrumb-item active">Bảng điều khiển</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-danger p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-bag f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white">{{order_statuses.0}}</h2>
                                    <p class="m-b-0">Đơn hàng đợi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-warning p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-truck f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white">{{order_statuses.1}}</h2>
                                    <p class="m-b-0">Đơn hàng đang vận chuyển</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-success p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="ti-vector f-s-40"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white">{{order_statuses.2}}</h2>
                                    <p class="m-b-0">Đơn hàng đã giao</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-info p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa-solid fa-1 fa-3x"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white">{{first_best_seller.name}}</h2>
                                    <p class="m-b-0">{{first_best_seller.value}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-info p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa-solid fa-2 fa-3x"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white">{{second_best_seller.name}}</h2>
                                    <p class="m-b-0">{{second_best_seller.value}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-info p-20">
                            <div class="media widget-ten">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa-solid fa-3 fa-3x"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 class="color-white">{{third_best_seller.name}}</h2>
                                    <p class="m-b-0">{{third_best_seller.value}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title">
                                <h4>Doanh số</h4>
                            </div>
                            <div class="sales-chart">
                                <div class="ct-bar-chart2" style="height:435px"></div>
                                <script>
                                    var labels = {{ month_list | safe}};
                                    var series = {{ categories_sold_months | safe }}
                                    var data = {
                                        labels: labels,
                                        series: [series],
                                    };
                                    var options = {
                                        seriesBarDistance: 10,
                                    };

                                    var responsiveOptions = [
                                        ['screen and (max-width: 640px)', {
                                            seriesBarDistance: 5,

                                            axisX: {
                                                labelInterpolationFnc: function (value) {
                                                    return value[0];
                                                }
                                            }
                                        }]
                                    ];

                                    new Chartist.Bar('.ct-bar-chart2', data, options, responsiveOptions);
                                </script>

                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Lượt truy cập</h4>2
                                <div class="ct-svg-chart" style="height:420px"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h4>Đơn hàng gần đây</h4>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="row">
                                            <label for="text" class="mr-3">Trạng thái</label>
                                            <select class="filter">
                                                {% if filter_value == "1" or filter_value == "None" or filter_value == None %}
                                                <option value="1" selected>Tất cả </option>
                                                <option value="2">Đang chờ
                                                </option>
                                                <option value="3">Đang giao
                                                </option>
                                                {% endif %}
                                                {% if filter_value == "2" %}
                                                <option value="2" selected>Đang chờ </option>
                                                <option value="1">Tất cả
                                                </option>
                                                <option value="3">Đang vận chuyển
                                                </option>
                                                {% endif %}
                                                {% if filter_value == "3" %}
                                                <option value="3" selected>Đang vận chuyển </option>
                                                <option value="1">Tất cả
                                                </option>
                                                <option value="2">Đang chờ
                                                </option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên khách</th>
                                                <th>Món ăn</th>
                                                <th>Giá tiền</th>
                                                <th>Trạng thái</th>
                                                <th>Thanh toán</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cart in cart_list %}
                                            <tr>
                                                <td>{{cart.user_name}}</td>
                                                <td><span>{{cart.food_bought}}</span></td>
                                                <td><span>{{cart.total_price}}</span></td>
                                                {% if cart.status == "pending" %}
                                                <td>
                                                    <button type="button" class="btn btn-danger switch {{cart.id }}" value="{{ cart.id }}">
                                                        Đang chờ
                                                    </button>
                                                </td>
                                                {% elif cart.status == "delivering" %}
                                                <td>
                                                    <button type="button" class="btn btn-warning switch {{cart.id }}" value="{{ cart.id }}">
                                                        Đang giao hàng
                                                    </button>
                                                </td>
                                                {% endif %}
                                                <td>
                                                    {% if cart.paid_bill %}
                                                    <button type="button" class="btn btn-success switch_paid {{cart.id }}_paid" value="{{ cart.id }} paid">
                                                        Đã thanh toán
                                                    </button>
                                                    {% else %}
                                                    <button type="button" class="btn btn-danger switch_paid {{cart.id }}_paid" value="{{ cart.id }} paid">
                                                        Chưa thanh toán
                                                    </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    {% if page_cart.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1&filter_value={{ filter_value }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">begin</span>
                                        </a>
                                    </li> {% endif %}

                                    {% for n in page_cart.paginator.page_range %}
                                    {% if page_cart.number == n %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                    </li>
                                    {% elif n > page_cart.number|add:'-3' and n < page_cart.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ n }}&filter_value={{ filter_value}}">{{ n }}</a></li>
                                        {% endif %}
                                        {% endfor %}

                                        {% if page_cart.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_cart.paginator.num_pages }}&filter_value={{ filter_value }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">end</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                </ul>
                            </nav>
                        </nav>
                    </div>
                </div>


                <!-- /# row -->

                <!-- /# column -->
                </class>
        </div>


        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->
    <footer class="footer"> </a>
    </footer>
    <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
    </div>

    <script src="{% static 'dashboard/js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'dashboard/js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'dashboard/js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dashboard/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'dashboard/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>

    <script src="{% static 'dashboard/js/lib/datamap/d3.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/datamap/topojson.js' %}"></script>
    <!-- <script src="{% static 'dashboard/js/lib/datamap/datamaps.world.min.js' %}"></script> -->
    <!-- <script src="{% static 'dashboard/js/lib/datamap/datamap-init.js' %}"></script> -->

    <script src="{% static 'dashboard/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/chartist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'dashboard/js/lib/chartist/chartist-init.js' %}"></script>


    <!--Custom JavaScript -->
    <script src="{% static 'dashboard/js/custom.min.js' %}"></script>
    <script>

        $(document).ready(function () {

            $(".switch").click(function () {
                var value = $(this).val()
                $.ajax({
                    url: "",
                    type: "Get",
                    data: {
                        "button_value": value,
                        "type": "status"
                    },
                    success: function (data) {
                        var status = "";
                        var btnClass = "";
                        var prevClass = $("." + value).attr("class")
                        var prevStatus = $("." + value).text().trim()
                        if (prevStatus === "Đang giao hàng") {
                            status = "Đã giao"
                            btnClass = "btn btn-primary switch " + value
                            $("." + value).attr("disabled", true)
                        }
                        else if (prevStatus === "Đang chờ") {
                            status = "đang giao hàng"
                            btnClass = "btn btn-warning switch " + value
                        }
                        $("." + value).text(status)
                        $("." + value).removeClass(prevClass).addClass(btnClass)
                    }
                })
            })
        })
        $(document).ready(function () {

            $(".switch_paid").click(function () {
                var value = $(this).val()
                value = value.split(" ")[0]
                $.ajax({
                    url: "",
                    type: "Get",
                    data: {
                        "button_value": value,
                        "type": "bill"
                    },
                    success: function (data) {
                        var status = "";
                        var btnClass = "";
                        var prevClass = $("." + value + "_paid").attr("class")
                        var prevStatus = $("." + value + "_paid").text().trim()
                        if (prevStatus === "Đã thanh toán") {
                            status = "Chưa thanh toán"
                            btnClass = "btn btn-danger switch_paid " + value
                            $("." + value).attr("disabled", true)
                        }
                        else if (prevStatus === "Chưa thanh toán") {
                            status = "Đã thanh toán"
                            btnClass = "btn btn-success switch_paid " + value
                        }
                        $("." + value + "_paid").text(status)
                        $("." + value + "_paid").removeClass(prevClass).addClass(btnClass)
                    }
                })
            })
        })
        $(document).ready(function () {

            $(".filter").on('change', function () {
                var value = $(this).val()
                window.location.href = "?page=1&filter_value=" + value
            })
        })
    </script>
</body>

</html>