{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Website</title>

    <!-- Link our CSS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'admin/css/menu.css' %}">
</head>

<body>
    <!--Section Search-->
    <div class="hero">
        <div class="container">
          <div class="searchbox">
            <h3 class="slogun">Finding your favorite food now!</h3>
            <div class="inputwrapper">
              <form action="{% url 'menu:search' %}" method="GET">
                <div class="searchwrapper">
                  <input type="text" name="search" class="search" />
                </div>
                <div class="orderwrapper">
                  <input type="submit" class="order" value="Search">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    <!-- fOOD MEnu Section Starts Here -->
    <section class="food-menu">
        <div class="select_category">
            <ul class = "select_category">
                <li class = "selected"><a href = "http://127.0.0.1:8000/menu/?category=all">Tất cả</a></li>
                {% for item in categories %}
                <li><a href = "http://127.0.0.1:8000/menu/?category={{item.category}}">{{item.category}}</a></li>
                
                {%endfor%}
            </ul>
        </div>
        <div class="icon_cart" style="margin-left:10px">
            <a href="{% url 'checkout:check_cart_html' %}"> 
              <h2 class = "cart_count" style="margin-bottom:2px; margin-left:25px">{{count_begin}}</h2>
              <svg xmlns="http://www.w3.org/2000/svg" style="width:50px;height:50%;" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M96 0C107.5 0 117.4 8.19 119.6 19.51L121.1 32H541.8C562.1 32 578.3 52.25 572.6 72.66L518.6 264.7C514.7 278.5 502.1 288 487.8 288H170.7L179.9 336H488C501.3 336 512 346.7 512 360C512 373.3 501.3 384 488 384H159.1C148.5 384 138.6 375.8 136.4 364.5L76.14 48H24C10.75 48 0 37.25 0 24C0 10.75 10.75 0 24 0H96zM128 464C128 437.5 149.5 416 176 416C202.5 416 224 437.5 224 464C224 490.5 202.5 512 176 512C149.5 512 128 490.5 128 464zM512 464C512 490.5 490.5 512 464 512C437.5 512 416 490.5 416 464C416 437.5 437.5 416 464 416C490.5 416 512 437.5 512 464z"/></svg>      
            </a>
        </div>
        <div class="container">
            <h2 class="text-center">Food Menu</h2>
            {% for item in all_food %}
            <div class="food-menu-box">
                <div class="food-menu-img">
                    <img src="{{ item.image.url }}" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
                </div>

                <div class="food-menu-desc">
                    <h4>{{ item.name_food }}</h4>
                    <p class="food-price">{{ item.price }}VNĐ</p>
                    <p class="food-detail">
                        {{item.description}}
                    </p>
                    <br>
                    {% csrf_token %}
                </div>
                <button type= "button" class="btn btn-primary" value="{{ item.id }}">Add to cart</button>
                
            </div>
            {% endfor %}

            <div class="clearfix"></div>
            {% if all_food.has_other_pages %}
            <div class="pagination">
                {% if all_food.has_previous %}
                  <a href="?page={{ all_food.previous_page_number }}">&laquo;</a>
                {% else %}
                  <a class="disabled"><span>&laquo;</span></a>
                {% endif %}
                {% for i in all_food.paginator.page_range %}
                  {% if all_food.number == i %}
                    <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                  {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                {% endfor %}
                {% if all_food.has_next %}
                  <a href="?page={{ all_food.next_page_number }}">&raquo;</a>
                {% else %}
                  <a class="disabled"><span>&raquo;</span></a>
                {% endif %}
            </div>
            {% endif %}

        </div>

    </section>
    <!-- fOOD Menu Section Ends Here -->
</body>
<script>
    
$(document).ready(function() {
    
    $(".btn").click(function(){
        $.ajax({
            url: "cart/",
            type: "Get",
            data:{
                "button_value" : $(this).val(),
            },
            success: function(data){
                if (data.count != -1){

                    $(".cart_count").html(data.count);
                }
                else {
                    location.href = "http://127.0.0.1:8000/account/login/"
                }
                
            }
        })
    })
    

})

</script>

</html>
{% endblock %}