<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>dinh son </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="vocher.css">
  </head>
  <body>
    
    <!-- modify -->
    <div class="bound-container">
      {% for coupon in page.object_list %}
      <div class="container" id="box">
        <div class="left-box">
          <img src="{{ coupon.image_discount.url }}" alt="">
        </div>
  
        <div class="right-box">
          <div class="content">
            <h3>{{ coupon.title }}</h3>
            <p>Mã giảm giá {{coupon.percent}}%</p>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
    <div class="">
      {% if page.has_previous %}
          <a href="{% url 'discount:renderDiscount' %}?page={{page.previous_page_number}}" class=""> previous number</a>
      {% endif %}
      {% if page.has_next %}
          <a href="{% url 'discount:renderDiscount' %}?page={{ page.next_page_number }}" class=""> Next number</a>
      {% endif %}
    </div>

    <!-- end -->
  </body>
</html>