.container_dia{
    width: 80%;
    margin: auto;
    display: block;

}


.dialog{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5px;
    border: 4px hidden #b1154a;
    /* border: 4px dashed #b1154a; */
    border-radius: 10px;
    background-color:rgb(248, 243, 243) ;

}

.image_dia{
    width: 80%;
    margin: auto;
    text-align: center;



}
.image_dia img{
    height: 100px;
    margin: auto;


}

.link-container{
    text-align: center;


}


/* custom */
h1, button, p{
  text-align: center;
  margin: 30px 15px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(151, 149, 149);
}
.zoom-area { 
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
}
  
a.more-link {
    text-transform: uppercase;
    font-size: 13px;
    background-color: #de7e85;
    padding: 10px 15px;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
    border-radius: 10px;
    
  }

/* custom */
