{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Section a -->
<div class="hero">
  <div class="container">
    <div class="searchbox">
      <h3 class="slogun">Tìm món ăn yêu thích của bạn</h3>
      <div class="inputwrapper">
        <form action="{% url 'menu:search' %}" method="GET">
          <div class="searchwrapper">
            <input type="text" name="search" class="search" />
          </div>
          <input class="orderwrapper" type="submit" class="order" value="Tìm kiếm">
          <!-- <div class="orderwrapper">
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Section b -->
<div class="section-b">
  <br>
  <br>
  <center>
    <h1 class="the_best_sell"> Bán chạy nhất </h1>
  </center>
  <div class="container">
    <!-- Card 1 -->
    <div class="card">
      <div class="cardwrapper">
        <img src="{{food_best_seller.first_best_seller.image.url}}" alt="" srcset="" />
        <h3>{{food_best_seller.first_best_seller.name}}</h3>
        <button class="btn btn-transparent" disabled>{{food_best_seller.first_best_seller.price}}</button>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="card">
      <div class="cardwrapper">
        <img src="{{food_best_seller.second_best_seller.image.url}}" alt="" srcset="" />
        <h3>{{food_best_seller.second_best_seller.name}}</h3>
        <button class="btn btn-transparent" disabled>{{food_best_seller.second_best_seller.price}}</button>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="card">
      <div class="cardwrapper">
        <img src="{{food_best_seller.third_best_seller.image.url}}" alt="" srcset="" />
        <h3>{{food_best_seller.third_best_seller.name}}</h3>
        <button class="btn btn-transparent" disabled>{{food_best_seller.third_best_seller.price}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Section c -->
<div class="section-c">
  <div class="left"></div>
  <div class="right">
    <div class="content">
      <h2>FoodShop</h2>
      <p>
       FoodShop là nơi mà bạn có thể thưởng thức các món ăn ngon mà không cần phải bước chân ra ngoài. Với mục tiêu là cung cấp đa dạng món ăn cho khách hàng và dịch vụ giao hàng tận nơi nhanh chóng. FoodShop mong những gì chúng tôi đang làm sẽ làm lòng quý khách.
      </p>
    </div>
  </div>
</div>

<!-- Section d -->
<!-- <div class="section-d">
  <div class="container">
    <div class="content">
      Avail exclusive offers only on FAASOS app.
      <br /><br />Get link to download the app NOW!
    </div>
    <div class="subscriptionbox">
      <input type="text" name="prefix" class="prefix" value="+91" /><input type="tel" name="telephone" class="telephone"
        placeholder="Enter Mobile No." /><button class="btn-light">Submit</button>
    </div>
  </div>
</div> -->

<!-- Section e -->
<!-- <div class="section-e">
  <div class="container">
    <img src="{% static 'admin/img/limelight-logo.png' %}" width="42" height="42" />
    <h3>In The Limelight</h3>
    <i class="fas fa-quote-left"></i>
    <p>
      Faasos has managed to seamlessly integrate the technology with the
      physical process of bringing the food to a consumer's doorstep.
    </p>
  </div>
</div> -->

<!-- Section f -->
<!-- <div class="section-f">
  <div class="container">
    <ul>
      <li><img class="first" src="{% static 'admin/img/economic-time.png' %}" alt="" /></li>
      <li><img class="second" src="{% static 'admin/img/forbes.png' %}" alt="" /></li>
      <li><img class="third" src="{% static 'admin/img/hindu.png' %}" alt="" /></li>
    </ul>
  </div>
</div> -->

<!-- Section g -->

{% endblock%}